$mainColor: #D23A31;//网易云红色调

$baseColor: #f2f4f5;//页面基色调

// router unactive状态下的颜色
$link_active: #ffffff;

//一像素颜色
$border_1px : rgba(7, 17, 27, 0.1);

// 点击列表active的背景顏色
$list_active: #d5d5d5;

$rgba_active: rgba(0,0,0,0.1);

// 图标颜色
$icon_color: #999;

$maskBackground: rgba(0,0,0,0.5);
 
//********************sideBar 
$sideBackground: rgba(0,0,0,0.5);
